<div mat-dialog-title>Añade un Producto</div>
<div mat-dialog-headers></div>

<!--Seccion superior que coge los tipos de productos-->
<div mat-dialog-content>
    <mat-divider></mat-divider>
    <div class="menu-list-divider font-size divider "> <i class="fas fa-clipboard-list fa-lg" ></i>  TIPOS DE PRODUCTOS:  <span style="font-size: 2em;">{{selectedType|uppercase}}</span></div>
    
    <section>

        <div class="example-flex-container"  *ngFor="let typeproduct of listTypeProducts">
            <div class="example-button-container d-flex justify-content-center">
                <button *ngIf="typeproduct.name === selectedType" mat-icon-button  aria-label="" (click)="loadProductsByType(typeproduct.name)" >
                    <img class="imagenes" [src]="typeproduct.url" alt="x" />
                
                    <p>{{typeproduct.name| uppercase}}</p>
                </button>
                 
                  <!--Si no esta seleccionado se queda en gris-->
                <button *ngIf="typeproduct.name !== selectedType" mat-icon-button   aria-label="Example icon button with a plus one icon"  (click)="loadProductsByType(typeproduct.name)">
                    <img class="imagenes not-focus-type" [src]="typeproduct.url" alt="x" />
               
                   
                    <p class="">{{typeproduct.name | uppercase}}</p>
                </button>
               
                  
            </div> 
          
        </div>

    </section>
    <mat-divider></mat-divider>


    <div class="menu-list-divider font-size divider "> <i class="fas fa-clipboard-list fa-lg" ></i>  PRODUCTOS</div>
    <section *ngIf="selectedType!=null || selectedType==''" >

        <div class="example-flex-container"  *ngFor="let productsByType of listByProductType">
            <div class="example-button-container d-flex justify-content-center">
                <button mat-icon-button color="basic" aria-label="Example icon button with a plus one icon"(click)="openConfirmDialog(productsByType)" >
                   
                    <img class="imagen-carrito" [src]="'../../assets/images/tipos/carrito.png'" alt="x" />
                    <p class="padding-products"> {{productsByType.name | uppercase}}</p>
                </button>
                
            </div>
           
           
        </div>

    </section>



</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()" >Cancelar</button>
    <!--Si el campo esta vacio deshabilito el boton-->    
   <!-- <span *ngIf="this.datProduct.email!=null || this.datProduct.email!=undefined"><button  mat-button cdkFocusInitial  >Crear Lista</button></span>-->
    
</div>
