<h1 mat-dialog-title>Crear una nueva Lista</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>   Introduce el nombre de la Lista      </mat-label>
          <input matInput [(ngModel)]="data.nameList">
      </mat-form-field>
    </div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()" >Cancelar</button>
    <!--Si el campo esta vacio deshabilito el boton-->    
    <span *ngIf="this.data.nameList!=null || this.data.nameList!=undefined"><button  mat-button [mat-dialog-close]="data.nameList"  cdkFocusInitial  >Crear Lista</button></span>
    
</div>
