
.divider{
    background-color: rgba(23, 80, 186, 0.401);
    color:rgb(255, 255, 255);
    margin-left: 2px ;
    margin-right: 2px;
    padding-left: 2px;
  
  }

  .ancho{
    font-size: 2em;
}



.alienacion{
    display: inline;
    align-content: space-between;
}