
<mat-list>
  <div class="menu-list-divider divider font-size">Usuario  </div>
    <mat-list-item (click)="navigateMain()">
    <mat-icon class="fa mat-mini-fab "  ><i class="fas fa-user fa-lg " ></i></mat-icon><p style="margin: 5%; font-size:1.4em">  {{displayName}}</p>
    </mat-list-item>
  <div class="menu-list-divider divider font-size"> Listas Disponibles </div>

<div *ngIf="lista!=undefined">
    <mat-list-item *ngFor="let lista1 of lista['list']" [routerLink]="['list/',lista1._id]" (click)="sendListForm(lista1._id)">
     
      <i   class="fa mat-mini-fab " matBadge="{{lista1.products.length}}" matBadgeColor="info" ><i class="fas fa-cart-arrow-down fa-lg" ></i></i><p class="nameList">{{lista1.nameList}}</p>
  
    </mat-list-item>
</div>
<div  *ngIf="lista==undefined" >
  <p>Cargando Listas.....</p>
</div>

  <div class="menu-list-divider divider font-size"> Crear Una Lista</div>
    <mat-list-item (click)="openDialog()">
      <i class="fa mat-mini-fab"><i class="fas fa-plus fa-lg"  ></i></i><p style="margin: 5%; font-size:1.4em"> Nueva Lista</p>
    </mat-list-item>

  
</mat-list>